In [93]:
# import library
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Importing the source data

In [94]:
suicide_file = 'master.csv'
df=pd.read_csv(suicide_file)

In [95]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [96]:
# Drop column country-year
df.drop(columns='country-year', inplace=True)
# Drop column HDI for year
df.drop(columns='HDI for year', inplace=True)
# Drop null values
df.dropna(how='any', inplace=True)
# Drop or filter the rows to only include years 2000 through 2015 (referenced https://stackoverflow.com/questions/13851535/how-to-delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression)
df.drop(df[(df.year < 2000) | (df.year > 2015)].index, inplace=True)
# check the dataframe structure
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,Generation X

In [97]:
df.shape

(16008, 10)

# write dataframe to a new csv

In [101]:
df.to_csv('suicide_clean.csv', index=False)

In [107]:
# creating a new table by copying the original dataframe
suicide_df=df.copy()
suicide_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [108]:
# checking column names and data types
suicide_df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [113]:
# dropping all non-varying data
suicide_df.drop(columns=' gdp_for_year ($) '  , inplace=True)
suicide_df.drop(columns='gdp_per_capita ($)', inplace=True)
suicide_df.drop(columns='population', inplace=True)
suicide_df

,country,year,sex,age,suicides_no,suicides/100k pop,generation
132,Albania,2000,male,25-34 years,17,7.33,Generation X
133,Albania,2000,male,55-74 years,10,5.64,Silent
134,Albania,2000,female,75+ years,2,5.29,G.I. Generation
135,Albania,2000,male,75+ years,1,4.02,G.I. Generation
136,Albania,2000,female,15-24 years,6,2.27,Generation X
...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,2.96,Generation X
27816,Uzbekistan,2014,female,75+ years,9,2.58,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2.17,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,1.67,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1.46,Boomers

In [123]:
suicide_df.to_csv('suicide_table.csv', index=False)

In [120]:
# creating a new table by copying the original dataframe
country_df=df.copy()
country_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
132,Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,Generation X
...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [121]:
country_df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [122]:
# dropping all varying data
country_df.drop(columns='sex', inplace=True)
country_df.drop(columns='age', inplace=True)
country_df.drop(columns='suicides_no', inplace=True)
country_df.drop(columns='suicides/100k pop', inplace=True)
country_df.drop(columns='generation', inplace=True)
country_df

          country  year  population  gdp_for_year ($)   gdp_per_capita ($)
132       Albania  2000      232000      3,632,043,908                1299
133       Albania  2000      177400      3,632,043,908                1299
134       Albania  2000       37800      3,632,043,908                1299
135       Albania  2000       24900      3,632,043,908                1299
136       Albania  2000      263900      3,632,043,908                1299
...           ...   ...         ...                ...                 ...
27815  Uzbekistan  2014     3620833     63,067,077,179                2309
27816  Uzbekistan  2014      348465     63,067,077,179                2309
27817  Uzbekistan  2014     2762158     63,067,077,179                2309
27818  Uzbekistan  2014     2631600     63,067,077,179                2309
27819  Uzbekistan  2014     1438935     63,067,077,179                2309

[16008 rows x 5 columns]

In [132]:
#sum the population data and group by year and country
country_df.groupby(['country','year', ' gdp_for_year ($) ','gdp_per_capita ($)'])['population'].sum()

country     year   gdp_for_year ($)   gdp_per_capita ($)
Albania     2000  3,632,043,908       1299                   2796300
            2001  4,060,758,804       1451                   2799349
            2002  4,435,078,648       1573                   2818839
            2003  5,746,945,913       2021                   2843929
            2004  7,314,865,176       2544                   2874991
                                                              ...
Uzbekistan  2010  39,332,770,929      1533                  25651783
            2011  45,915,191,189      1767                  25978049
            2012  51,821,573,338      1964                  26381830
            2013  57,690,453,461      2150                  26838924
            2014  63,067,077,179      2309                  27313507
Name: population, Length: 1334, dtype: int64

In [138]:
country_df['agg_population'] = country_df.groupby(['country','year', ' gdp_for_year ($) ','gdp_per_capita ($)'])['population'].transform('sum')

In [139]:
country_df

,country,year,population,gdp_for_year ($),gdp_per_capita ($),agg_population
132,Albania,2000,232000,"3,632,043,908",1299,2796300
133,Albania,2000,177400,"3,632,043,908",1299,2796300
134,Albania,2000,37800,"3,632,043,908",1299,2796300
135,Albania,2000,24900,"3,632,043,908",1299,2796300
136,Albania,2000,263900,"3,632,043,908",1299,2796300
...,...,...,...,...,...,...
27815,Uzbekistan,2014,3620833,"63,067,077,179",2309,27313507
27816,Uzbekistan,2014,348465,"63,067,077,179",2309,27313507
27817,Uzbekistan,2014,2762158,"63,067,077,179",2309,27313507
27818,Uzbekistan,2014,2631600,"63,067,077,179",2309,27313507
27819,Uzbekistan,2014,1438935,"63,067,077,179",2309,27313507

In [140]:
country_df.drop(columns='population', inplace=True)
country_df

          country  year  gdp_for_year ($)   gdp_per_capita ($)  agg_population
132       Albania  2000      3,632,043,908                1299         2796300
133       Albania  2000      3,632,043,908                1299         2796300
134       Albania  2000      3,632,043,908                1299         2796300
135       Albania  2000      3,632,043,908                1299         2796300
136       Albania  2000      3,632,043,908                1299         2796300
...           ...   ...                ...                 ...             ...
27815  Uzbekistan  2014     63,067,077,179                2309        27313507
27816  Uzbekistan  2014     63,067,077,179                2309        27313507
27817  Uzbekistan  2014     63,067,077,179                2309        27313507
27818  Uzbekistan  2014     63,067,077,179                2309        27313507
27819  Uzbekistan  2014     63,067,077,179                2309        27313507

[16008 rows x 5 columns]

In [147]:
country_final_df = country_df.drop_duplicates(keep='first')
country_final_df.reset_index(inplace=True)
country_final_df

,index,country,year,gdp_for_year ($),gdp_per_capita ($),agg_population
0,132,Albania,2000,"3,632,043,908",1299,2796300
1,144,Albania,2001,"4,060,758,804",1451,2799349
2,156,Albania,2002,"4,435,078,648",1573,2818839
3,168,Albania,2003,"5,746,945,913",2021,2843929
4,180,Albania,2004,"7,314,865,176",2544,2874991
...,...,...,...,...,...,...
1329,27760,Uzbekistan,2010,"39,332,770,929",1533,25651783
1330,27772,Uzbekistan,2011,"45,915,191,189",1767,25978049
1331,27784,Uzbekistan,2012,"51,821,573,338",1964,26381830
1332,27796,Uzbekistan,2013,"57,690,453,461",2150,26838924
1333,27808,Uzbekistan,2014,"63,067,077,179",2309,27313507

In [148]:
country_final_df.to_csv('country_table.csv', index=False)